<%- include('../partials/header') %>

<%- include('../partials/user-sidebar', { option: "history" }) %>


    <div class="main-content">
        <div class="header-wrap">
            <div class="header-title">
                <h2>Medical History</h2>
            </div>
        </div>

        <div class="tabular-wrap">
            <div class="header-wrap">
                <h3 class="main-title"></h3>
                <div class="search-box">
                    <p>SortBy</p>
                    <input type="text" placeholder="Date" />
                    <i class="fa-solid fa-arrow-up-wide-short"></i>
                </div>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Last Visited</th>
                            <th>Diagnosis</th>
                            <th>Treatment</th>
                            <th>Sittings Remaining</th>
                            <th>Prescription</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2024-01-26</td>
                            <td>Asthama</td>
                            <td>Nebulization</td>
                            <td>2</td>
                            <td class="action-icon">
                                <a href="#"><i class="fa-solid fa-capsules edit-icon"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2023-12-02</td>
                            <td>Asthama</td>
                            <td>Nebulization</td>
                            <td>3</td>
                            <td class="action-icon">
                                <a href="#"><i class="fa-solid fa-capsules edit-icon"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2023-10-26</td>
                            <td>Asthama</td>
                            <td>Nebulization</td>
                            <td>4</td>
                            <td class="action-icon">
                                <a href="#"><i class="fa-solid fa-capsules edit-icon"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

    
</body>
</html>