<%- include('../partials/header') %>

<%- include('../partials/user-sidebar', { option: "medication" }) %>


    <div class="main-content">
        <div class="header-wrap">
            <div class="header-title">
                <h2>Medications & Dosage</h2>
                <p>Know your medications and their dosages.</p>
            </div>
        </div>

        <div class="med-wrap">
            <div class="med-container">
                <table class="med-table">
                    <tr>
                        <td>Paracitamol</td>
                        <td>2 capsules</td>
                    </tr>
                    <tr>
                        <td>Insulin</td>
                        <td>4 units</td>
                    </tr>
                    <tr>
                        <td>Paracitamol</td>
                        <td>2 capsules</td>
                    </tr>
                    <tr>
                        <td>Paracitamol</td>
                        <td>2 capsules</td>
                    </tr>
                    <tr>
                        <td>Paracitamol</td>
                        <td>2 capsules</td>
                    </tr>
                    <tr>
                        <td>Paracitamol</td>
                        <td>2 capsules</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>