<%- include('../partials/header') %>

<%- include('../partials/user-sidebar', { option: "report" }) %>

    <div class="main-content">
        
        <div class="header-wrap">
            <div class="header-title">
                <h2>Medical Reports</h2>
                <p>Your diagnostic reports and test results are stored here..</p>
            </div>
        </div>

        <div class="tabular-wrap">

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Report Name</th>
                            <th>Date of test</th>
                            <th>Print Document</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>X-ray of right arm</td>
                            <td>2024-01-26</td>
                            <td>
                                <a href="#">Print</a>
                            </td>
                        </tr>
                        <tr>
                            <td>X-ray of right arm</td>
                            <td>2024-01-26</td>
                            <td>
                                <a href="#">Print</a>
                            </td>
                        </tr>
                        <tr>
                            <td>X-ray of right arm</td>
                            <td>2024-01-26</td>
                            <td>
                                <a href="#">Print</a>
                            </td>
                        </tr>
                        <tr>
                            <td>X-ray of right arm</td>
                            <td>2024-01-26</td>
                            <td>
                                <a href="#">Print</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>
</html>